@media (max-width: 979px) {
	#UCFHBSearch_and_links { display: none; }
	#UCFHBHeader div.UCFHBWrapper { width: 100%; }
}

@media (width: 768px) {
	
	#home #content-col { margin-top: 260px; }
	
	.box { width: 342px; }
	
	#infscr-loading {
		left: 38%;
		bottom: 20px;
		width: 150px;
		padding: 10px;
	} 
}

@media (max-width: 767px) {			
	h1 { width: 150px; height: 46px; background-size: cover; margin-left: 7px; margin-top: 10px; }
	h4 { display: none; }
	
	#header { height: 70px; }
	#header-info { margin-top: 15px; margin-left: 10px; }
	
	#header-taglist .taglist-hash, 
	#header-taglist .taglist-tag,
	#header-servicelist .servicelist-service,
	span.comma { font-size: 16px; }
	#header-servicelist .servicelist-service { font-size: 12px; }

	#home #content-col { margin-top: 130px; }

	#infscr-loading {
		left: 34%;
		bottom: 20px;
		width: 150px;
		padding: 10px;
	} 
	

	/* Shrinkable bootstrap tables for tablets/phones.
	Responsive table guide via css-tricks.com/responsive-data-tables/ */
	table.table.table-striped, 
	.table.table-striped thead, 
	.table.table-striped tbody, 
	.table.table-striped th, 
	.table.table-striped td, 
	.table.table-striped tr {
		display: block;
	}
	.table.table-striped tbody {
		width: 100%;
	}
	.table.table-striped thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	.table.table-striped tr {
		margin: 10px 0 0 0;
		border-right: 1px solid #ddd;
		border-bottom: 1px solid #ddd;
		border-left: 1px solid #ddd;
	}
	.table.table-striped tbody tr td:empty {
		display: none;
	}
	.table.table-striped td, 
	.table.table-striped td.name, 
	.table.table-striped td.email, 
	.table.table-striped td.job_title, 
	.table.table-striped td.phones {
		width: auto;
	}
	.table.table-striped td.name {
		font-size: 14px;
	}
	.table.table-striped td.job_title {
		border-top: 0;
	}
	.table.table-striped tbody tr td ul {
		margin-bottom: 0;	
	}
	.table.table-striped td.phones ul li {
		line-height: 16px;
	}
	.table.table-bordered {
		border: 0;
	}
	.table.table-bordered tbody tr td {
		border-left: 0;
	}

}

@media (max-width: 480px) {
	
	/*#UCFHBHeader, #header { position: relative; }*/
	
	#header { width: 100%; padding-right: 40px; }	
	
	#infscr-loading {
		left: 23%;
		bottom: 20px;
		width: 150px;
		padding: 10px;
	} 
}